body {
    font-family: sans-serif;
    background-color: rgb(202, 228, 163);
    text-align: center;
}
.cont {
 margin-top: 8em;
 border: 6px solid yellowgreen;
 border-radius: 30px;
 padding: 5em;
 background-color: rgb(133, 216, 216);
}
input, button{
    border-radius: 30vh;
}
button {
    background: rgb(233, 167, 167);
    
}
button:hover {
    background-color: rgb(245, 195, 159);
    transition: 1s;
    transform: translateY(-7px);
}
p:hover {
    transform: translateX(10px);
    transition: 1s;
}
input:hover {
    transition: .8s;
    transform: translateY(10px);
}
.soya {
    background-color: rgb(27, 22, 22);
}
p {
  display: inline-block;  
  color: antiquewhite;
  height: 20px;
  width: 50px;
  font-weight: bold;
}